@import '~IndexCSS/master';
// all main login styling 
.login-main-flex{
  background-image: $headerGradient, url("/img/DSCN3195.jpg");
  //background-color: gray;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  height: auto;
  padding-left: 5vw;
  
  .admin-login-form{
    margin-top: 25vw;
    padding-bottom: 15vw;
    border: 4px black;
    h3{
      color: white;
      font-family: $fontRoboto;
      font-weight: bold;
    }
    .field{
      display: flex;
      justify-content: flex-end;
      input{
        justify-content: center;
        align-items: center;
        margin-right: 20%;
      }
      label{
        align-self: center;
        font-family: $fontRoboto;
        font-weight: bold;
        color: white;
      }
    }
    .button{
      width: 60%;
      padding: 12px 20px;
      margin: 8px;
      margin-left:60px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
}
