$yellow: #ffc910;
$navyBlue: #040B33;
$offBlack: #1a1a1a;
$gray: #f6f6f6;
$programGray1: #EDEDEE;
$programGray2: #C9CACC;
$bgBlack: #111111;

// Color-related
$headerGradient: linear-gradient(
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)
); 
// global colors