@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

$fontOswald: 'Oswald', sans-serif;
$fontMontserrat: 'Montserrat';
$fontHindVadodara: 'Hind Vadodara';
$fontRoboto: 'Roboto', sans-serif;